/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
 */

/* Font
 ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Lato);
 
// Variables modifiers

@navbar-nav-padding-horizontal:                 10px;
@navbar-nav-color:                              @global-link-color;
@navbar-nav-font-weight:                        300;
@navbar-nav-hover-background:                   transparent;
@navbar-nav-hover-color:                        @global-link-hover-color;
@navbar-nav-onclick-background:                 transparent;
@navbar-nav-onclick-color:                      @global-link-hover-color;
@navbar-nav-active-background:                  transparent;
@navbar-nav-active-color:                       @global-link-hover-color;
@navbar-nav-font-size:                          14px;
@navbar-nav-font-weight:                        normal;
@dropdown-navbar-background:                    #fff;

/* Navbar modification
 ========================================================================== */

.hook-navbar-nav() {
  /* text-transform: uppercase;  */
  font-family: 'Libre Baskerville', serif;
}

/* Adjust the menu position */
nav.tm-primary-menu {
  position: relative;
  top: 6px;
}

/* Add dropdown icon */
.uk-navbar-nav > li[data-uk-dropdown] > a i {
  position: absolute;
  left: 45%;
  margin-left: -5px;
  top: 31px;
}

/* Nav dropdown modification
 ========================================================================== */

.uk-dropdown-navbar {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

/* Dropdown modification
 ========================================================================== */

.hook-dropdown() {
    border-radius: @global-border-radius;
}

.hook-dropdown-navbar {
	border-bottom: 1px solid @global-primary-background;
	background-color: #fff;

	.uk-nav {
		margin-top: -@dropdown-padding;
		margin-bottom: -@dropdown-padding;
	}

	.uk-nav a {
		color: @base-link-color;
		font-family: 'Lato', sans-serif;
		padding-top: 9px;
		padding-bottom: 9px;

		&:hover,
		&:active {
			color: @base-link-color;
			background-color: #fff;
		}

	}

}

/* Header modification
 ========================================================================== */

.tm-header {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px solid @global-primary-background;
    background-color: #fff;
}

.tm-header.uk-active {
    padding-top: 50px;
    padding-bottom: 25px;
    border-bottom: 2px solid @global-primary-background;
    background-color: #fff;
}

.tm-content {
    border-bottom: 2px solid @global-primary-background;
}

/* Header Bar modification
 ========================================================================== */

.tm-header-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @global-primary-background;
    color: @text-contrast-color;
	font-family: 'Lato', sans-serif;
	// font-size: @text-small-font-size;
	line-height: @text-small-line-height;
	// text-transform: uppercase;
}

.tm-header-bar a {
	color: @text-contrast-color;
	font-family: 'Lato', sans-serif;
	// font-size: @text-small-font-size;
	line-height: @text-small-line-height;
	// padding-left: 10%;
	// padding-right: 10%;
	margin-right: 10px;
	margin-left: 10px;
	
	&:hover,
	&:active {
		color: @text-contrast-color;
		text-decoration: none;
	}
}

/* Site Branding modification
 ========================================================================== */

.tm-site-title-tag a {
	color: @text-success-color;
	font-family: 'Lato', sans-serif;
	font-size: @text-small-font-size;
	line-height: @text-small-line-height;
	
	&:hover,
	&:active {
		color: @base-link-color;
		background-color: #fff;
	}
}

.tm-site-branding a {
	color:  @text-primary-color;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	&:active {
		position: relative;
		margin-top: -1px;
	}
}
.tm-site-branding a:active {
	position: relative;
	bottom: -1px;
}

